<h1>All Categories</h1>
<ul>
  #foreach ($category in $categories)
    <li><a href="/categories/$category.getId()">$category.getName()</a></li>
  #end
</ul>
<a href="/categories/new">Add new category</a>
