#if ($category)
  <h1>$category.getName()</h1>
  <ul>
    #foreach($task in $category.getTasks())
      <li><a href="/categories/$category.getId()/tasks/$task.getId()">$task.getDescription()</a></li>
    #end
  </ul>
#else
  <em><p>Oops! We can't seem to find that Category.</p></em>
#end

<a href="/categories/$category.getId()/tasks/new">Add a new task</a>
<a href="/categories">All categories</a>
