<h1>Add a Category</h1>

<p>Add a Category here:</p>

<form action="/categories" method="post">
  <label for="name">Category name:</label>
  <input id="name" name="name" type="text" class="form-control">
  <button type="submit" class="btn btn-success">Add Category</button>
</form>
